html {
    min-height: 100%;
    }

body {
    background: linear-gradient(#2c962c, #af2e2e);
    /* 
    normal variant
        background: linear-gradient(#721b1b, #440e0e);
    ---
    christmas variant
        background: linear-gradient(#41db41, #da3838);
    */
    color: rgb(255,255,555);
    font-family: Verdana;
}

.MainContent {
    margin-left: auto;
    margin-right: auto;
	width: 1250px;
}

/* unvisited link */
a:link {
color: black;
}

/* visited link */
a:visited {
color: rgb(102, 0, 0);
}

/* mouse over link */
a:hover {
color: rgb(175, 0, 0);
}

/* selected link */
a:active {
color: rgb(255, 255, 255);
}

/*
normal variant
    a:link {
    color: red;
    }

    a:visited {
    color: rgb(255, 50, 50);
    }

    a:hover {
    color: rgb(255, 64, 64);
    }

    a:active {
    color: rgb(255, 255, 255);
    }
---
christmas variant
    a:link {
    color: black;
    }

    a:visited {
    color: rgb(102, 0, 0);
    }

    a:hover {
    color: rgb(175, 0, 0);
    }
    
    a:active {
    color: rgb(255, 255, 255);
    }
    
*/

p.boxed {
  border-style: solid;
  border-width: 4px;
  color: white;
  padding: 4px;
}