/* fonts */
@font-face {
    src: url('assets/fonts/ferrite core dx/ttf/FerriteCoreDX-Regular.ttf');
    font-family: Ferrite-Core_reg;
}
@font-face {
    src: url('assets/fonts/ferrite core dx/ttf/FerriteCoreDX-Light.ttf');
    font-family: Ferrite-Core_light;
}
@font-face {
    src: url('assets/fonts/ferrite core dx/ttf/FerriteCoreDX-Medium.ttf');
    font-family: Ferrite-Core_med;
}
@font-face {
    src: url('assets/fonts/ferrite core dx/ttf/FerriteCoreDX-Black.ttf');
    font-family: Ferrite-Core_black;
}
@font-face {
    src: url('assets/fonts/ProFontWindows.ttf');
    font-family: ProFontWindows;
}

/* headers */
h1 {
    font-family: Ferrite-Core_med;
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: Ferrite-Core_reg;
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: Ferrite-Core_light;
    color: white;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* paragraph */
p {
    font-family: ProFontWindows;
    color: white;
    font-size: 20px;
    text-align: justify;
}

p.footer {
    font-family: Ferrite-Core_light;
    background-color:#000000;
    color:#ffffff;
    padding:10px;
    text-indent: 0%;
    margin: 0px;
}

p.header {
    font-family: Ferrite-Core_light;
    background-color:#270C2C;
    color:#ffffff;
    padding:10px;
    text-indent: 0%;
    text-align: right;
    margin: 0px;
}

p.boxed {
    border-style: solid;
    border-width: 4px;
    color: white;
    padding: 4px;
}

/* figcaption */
figure {
    display: table;
    padding: 0px;
    margin: 0px;
}

img.figure {
    display: table-column;
    vertical-align: bottom;
}

figcaption {
    font-family: ProFontWindows;
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: justify;
}

/* universal */
div.main {
    background-image: linear-gradient(#511B5A,#523458);
    margin: 0px;
    padding: 16px;
}

html {
    background-color: black;
    margin: 0px;
}

/* table */
table {
    padding: 4px;
    border-color: white;
    border-style: double;
}

table.borderless {
    padding: 4px;
    border-color: white;
    border-style: none;
    border-width: 0px;
}

hr {
    height: 4px;
    border-width: 0;
    color: white;
    background-color: white;
}

tr.list:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

th {
    font-family: Ferrite-Core_light;
    background-color: rgba(0, 0, 0, 0.5);
    color:#ffffff;
    padding:10px;
    text-indent: 0%;
    text-align: justify;
    margin: 0px;
}

tr,td {
    font-family: ProFontWindows;
    color: white;
    font-size: 20px;
    text-align: justify;
}