<!DOCTYPE html>
<html lang="en">

<head>
	<title>title</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/style/main.css">
	<script src="/assets/style/jquery-3.6.0.min.js"></script>

	<script>
		$(document).ready(function () {
			// variables for title and pages
			// also change back button path
			var title = "PLACEHOLDER";
			var page = 1;
			var max = 7;

			function updateTitle() {
				document.title = title + " :: " + page;
			}

			// comic page here (name + filename (0000) + .png)
			// if the number of 0000s is different, change the slice number (default -4) to the amount of 0s there are
			function updateImg() {
				filename = ("000" + page).slice(-3);
				$("#comic").attr("src", "/PLACEHOLDER" + filename + ".png");
				updateTitle();
			};

			function imgPos() {
				if ((page + 1) <= max) {
					page++;
					updateImg();
				}
			};

			function imgNeg() {
				if ((page - 1) > 0) {
					page--;
					updateImg();
				}
			};

			function img2Pos() {
				page = max;
				updateImg();
			}

			function img2Neg() {
				page = 1;
				updateImg();
			}

			function pageChange() {
				var x = parseInt(document.getElementById("goto").value);
				if (x >= 1 && x <= max) {
					page = x;
					updateImg();
				} else {
					console.log("Invalid page number");
				}
			}

			$('#forward').on('click', imgPos);
			$('#back').on('click', imgNeg);
			$('#forwardest').on('click', img2Pos);
			$('#backest').on('click', img2Neg);

			$("button[onclick='pageChange()']").on('click', pageChange);

			updateImg();

			$("input").attr("max", max);
		});
	</script>
</head>

<main>
	<div class="main">
		<div class="center">
			<img id="comic" class="figure no-hover" style="vertical-align:top;" src="">
			<br>
			<button id="backest">
				◀◀
			</button>
			<button id="back">
				◀
			</button>
			<input id="goto" type="number" min="1" max="1" value="1" size="8">
			<button onclick="pageChange()">
				GO
			</button>
			<button id="forward">
				▶
			</button>
			<button id="forwardest">
				▶▶
			</button>
		</div>
		<!-- change this too -->
		<p><a href="/projects.html"><img src="/assets/img/backimg.svg"></a></p>
	</div>
</main>

</html>