<link rel="stylesheet" href="css/header.css" type="text/css">
<head>
    <base target="_top">
</head>

<center>
    <div class="MainContent" width="1250px" height="100px">
        <table width="1250px" border="4px" bordercolor="white">
            <th>
                <font size="6">
                    rust_
                </font>
            </th>
            <th>
                <iframe src="https://freesecure.timeanddate.com/clock/i72c60q1/n1135/fn17/fcfff/tct/pct/tt0/tw0/tm2/th2/tb2" frameborder="0" width="184" height="19" allowTransparency="true"></iframe>
                <br>
                <!--change this when updating-->
                last updated 4/4/2020
                <!---->
            </th>
            <th colspan="4">
                <!--news ticker-->
                <marquee scrollamount="10px">hi it's me rust once again back at it with another one of those bloody FUCKIN updates! i've finally finished that huge ass post from 2 months ago (as of april 4th 2020) and i updated the blog site to contain the FULL POSTS of every multi-part post. i hope you'll find use in it... somehow? whatever, just be happy i finished that post. it's over 600 lines in my text editor</marquee>
                <!---->
            </th>
        </table>
        <table width="1250px">
            <th width="16.66666666666667%">
                <a href="../../../index.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0004.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../blog.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0005.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../projects.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0006.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../games.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0007.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../changelog.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0008.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../misc.html">
                    <img style="max-width: 100%;" src="../../../images/site/website-buttons0009.png" width="100%">
                </a>
            </th>
        </table>
    </div>
</center>