/* Font Faces */
@font-face {
	src: url('/assets/font/FerriteCoreDX-Regular.otf');
	font-family: Ferrite-Core_reg;
}

@font-face {
	src: url('/assets/font/FerriteCoreDX-Light.otf');
	font-family: Ferrite-Core_light;
}

@font-face {
	src: url('/assets/font/FerriteCoreDX-Medium.otf');
	font-family: Ferrite-Core_med;
}

@font-face {
	src: url('/assets/font/ProFontWindows.ttf');
	font-family: ProFontWindows;
}

/* Center */
.center {
	text-align: center;
}

/* Responsive Layout */
@media (max-width: 700px) {
	table,
	tr,
	td {
		display: inline-block;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* General Styles */
body,
main {
	margin: 0;
}

div.mainflex {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

html {
	background-image: url("/assets/img/bg.svg");
	background-color: #1b0018
}

div.main {
	max-width: 1300px;
	margin: auto;
}

div.loopfooter {
	background-image: url("/assets/img/rMB_11993.gif");
}

p,
dt,
h1,
h2,
h3,
h4,
table {
	padding-left: 12px;
	padding-right: 12px;
}

p.boxed {
	border: #ff8af5;
	border-style: solid;
	border-width: 4px;
}

p,
td,
li,
dd {
	text-align: justify;
	overflow-wrap: break-word;
	font-family: ProFontWindows;
	font-size: 20px;
	color: #fff;
}

code {
	font-size: 12pt;
	background-color: #130010e5;
}

th {
	color: #ff8af5;
	background-color: #1b00189c;
}

/* td {
	margin-top: 5px;
	margin-bottom: 1px;
} */

/* p {
	margin-top: 15px;
	margin-bottom: 15px;
} */

h1,
h2,
h3,
h4,
dt {
	text-align: justify;
	overflow-wrap: break-word;
	color: #ff8af5;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-family: Ferrite-Core_med;
}

h2 {
	font-family: Ferrite-Core_reg;
}

h3,
h4,
dt {
	font-family: Ferrite-Core_light;
}

/* Table */
table {
	table-layout: fixed;
	width: 100%;
	/* table-layout: fixed;
	display: block;
	overflow-x: auto;
	white-space: normal; */
}

/* table tbody {
	display: table;
	width: 100%;
} */

th,
td {
	border-left: 2px solid;
	border-right: 2px solid;
	/* padding: 3px; */
}

th {
	font-family: Ferrite-Core_light;
	/* background-color: #43003e;
	color: #ff8af5; */
}

/* td {
	padding: 4px;
} */

/* tr {
	background-color: #1a0018;
}

tr:nth-child(even) {
	background-color: #340030;
} */

img {
    max-width: 100%;
}

a img {
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
    /* Animation with custom ease */
    position: relative; /* Ensure the z-index works */
}

a img:hover:not(.no-hover):not(.zoomable) {
    transform: perspective(1000px) rotateX(10deg) scale(1.05);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    z-index: 10; /* Move the hovered image to the top */
}

/* .no-hover, 
.zoomable {
    transition: none;
	pointer-events: none;
}

@keyframes spin {
    0% {
        transform: perspective(1000px) rotateX(0deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg);
    }
}

.spin {
    animation: spin 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) backwards;
	transform: perspective(1000px) ;
} */

/* .noform {
	all: revert;
} */

/* Input */

input {
	border: none;
	border-bottom: 2px solid #FF8AF5;
	background-color: transparent;
	color: #ff8af5;
	font-family: ProFontWindows;
}

::placeholder {
	font-family: ProFontWindows;
}

/* Buttons */
button.comic {
	padding: 4px;
	border: none;
	background-color: #000;
	color: #ffffff;
	transition: 0.2s;
}

button.comic:hover {
	background-color: #FF8AF5;
	color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}

/* Header Styles */
.headerflex {
	display: flex;
	justify-content: center;
	background-color: #000;
	flex-wrap: wrap;
}

div.navbar {
	display: flex;
	position: absolute;
	justify-content: center;
	/* background-color: #260023;
	border: 4px solid #000; */
}

.navbutton {
	width: 50px
}

div.hf-logo {
	background-image: url("/assets/img/rmb_headerbg.svg");
	background-repeat: no-repeat;
	background-color: #000;
	width: 100%;
	height: 50px;
	text-align: right;
	/* margin: 5px; */
}

.headerflex>div {
	font-size: 16px;
	color: #ff8af5;
	font-family: Ferrite-core_med;
	padding: 4px;
}

.headerflex>div.footer {
	background-color: #000;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
}

a.header:link,
a.header:visited {
	text-decoration: none;
	color: white;
}

a.header:hover {
	text-decoration: none;
	color: #ff8af5;
}

/* Link Styles */
a:link,
a:visited {
	text-decoration: none;
	color: #ff8af5;
}

a:hover {
	text-decoration: none;
	color: #ffc3fa;
}

/* Ticker Styles */
.ticker-container {
	width: 100%;
	overflow: hidden;
}

.ticker-wrapper {
	width: 100%;
	padding-left: 100%;
	background-color: #000;
}

@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.ticker-transition {
	display: inline-block;
	white-space: nowrap;
	padding-right: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 200s;
}

.ticker-transition:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.ticker-item {
	display: inline-block;
	padding: 0 2rem;
	color: #fff;
	font-family: ProFontWindows;
}

/* Rainbow Text */
.rainbow {
	background-image: linear-gradient(90deg, rgba(255, 0, 0, 1) 0, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
	background-clip: text;
	color: transparent;
	animation: rbmove 100s linear infinite;
}

@keyframes rbmove {
	to {
		background-position: 4500vh;
	}
}

/* Site Flex */
.siteflex {
	flex-grow: 1;
	border: inset;
	border-width: 5px;
	border-top-color: #43003e;
	border-left-color: #43003e;
	border-right-color: #43003e;
	border-bottom-color: #43003e;
}

/* HR Styles */
hr {
	border: 0;
	height: 3px;
	background-color: #FF8AF5;
}

/* blockquote */
blockquote {
	border-left: 3px solid #FF8AF5;
}