<link rel="stylesheet" href="css/header.css" type="text/css">
<head>
    <base target="_top">
</head>

<center>
    <div class="MainContent" width="1250px" height="100px">
        <table width="1250px" border="4px" bordercolor="white">
            <th>
                <font size="6">
                    rust_
                </font>
            </th>
            <th>
                <iframe src="https://freesecure.timeanddate.com/clock/i72c60q1/n1135/fn17/fcfff/tct/pct/tt0/tw0/tm2/th2/tb2" frameborder="0" width="184" height="19" allowTransparency="true"></iframe>
                <br>
                <!--change this when updating-->
                last updated 2/24/2020
                <!---->
            </th>
            <th colspan="4">
                <!--news ticker-->
                <marquee scrollamount="10px">happy valentines day! i don't exactly have much else to say here but i'll take some time to work on the other misc buttons eventually! the latest post has been KILLING ME man, i'm explaining the entire plot of puyo puyo tetris up in here. it's the longest post to date! anyways, see you... er, eventually!</marquee>
                <!---->
            </th>
        </table>
        <table width="1250px">
            <th width="16.66666666666667%">
                <a href="../../../index.html">
                    <img src="../../../images/site/website-buttons0004.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../blog.html">
                    <img src="../../../images/site/website-buttons0005.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../projects.html">
                    <img src="../../../images/site/website-buttons0006.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../games.html">
                    <img src="../../../images/site/website-buttons0007.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../changelog.html">
                    <img src="../../../images/site/website-buttons0008.png" width="100%">
                </a>
            </th>
            <th width="16.66666666666667%">
                <a href="../../../misc.html">
                    <img src="../../../images/site/website-buttons0009.png" width="100%">
                </a>
            </th>
        </table>
    </div>
</center>