<link rel="stylesheet" href="css/header.css" type="text/css">
<head>
    <base target="_top">
</head>

<center>
    <div class="MainContent" width="1250px" height="100px">
        <table width="1250px" border="4px" bordercolor="white">
            <th>
                <font size="6">
                    rust_
                </font>
            </th>
            <th>
                <iframe src="https://freesecure.timeanddate.com/clock/i72c60q1/n1135/fn17/fcfff/tct/pct/tt0/tw0/tm2/th2/tb2" frameborder="0" width="184" height="19" allowTransparency="true"></iframe>
                <br>
                <!--change this when updating-->
                last updated 1/23/2020
                <!---->
            </th>
            <th colspan="4">
                <!--news ticker-->
                <marquee scrollamount="10px"><b>DUDE IT'S ROARING TWENTIES OFFICIAL!!!!</b> thanks for the fun stuff during 2019. sorry that i never updated for a fair bit, i was doing a plethora of other stuff during this time and i wanted to focus on that rather than the website. i promise i'll update the site this year, im thinking this time more info on projects, or more realistically, a new <i>portfolio</i> tab, possibly under a new "misc" one. another idea to add to that could be a collection of the reviews i've done maybe, although that would equal more work to add every time i actually want to do something like that. guess we'll find out lol. maybe a new theme?</marquee>
                <!---->
            </th>
        </table>
        <table width="1250px">
            <th width="20%">
                <a href="../../../index.html">
                    <img src="../../../images/site/website-buttons0004.png" width="100%">
                </a>
            </th>
            <th width="20%">
                <a href="../../../blog.html">
                    <img src="../../../images/site/website-buttons0005.png" width="100%">
                </a>
            </th>
            <th width="20%">
                <a href="../../../projects.html">
                    <img src="../../../images/site/website-buttons0006.png" width="100%">
                </a>
            </th>
            <th width="20%">
                <a href="../../../games.html">
                    <img src="../../../images/site/website-buttons0007.png" width="100%">
                </a>
            </th>
            <th width="20%">
                <a href="../../../changelog.html">
                    <img src="../../../images/site/website-buttons0008.png" width="100%">
                </a>
            </th>
        </table>
    </div>
</center>