<head>
    <link rel="stylesheet" href="../../../main.css" type="text/css">
    <title>title</title>
</head>
<!--be sure to replace the page url in the footer-->
<!--main content-->
<h1>title here</h1>
<h2>time here</h2>
<p>text here</p>
<!---->

<!--footer-->
<a href="../../../blog.html"><img style="max-width: 100%;" src="../../../images/site/website-backbutton.png"></a>
<hr>
<div id="disqus_thread">
    <script>
        var disqus_config = function () {
            this.page.url = "https://rustmotherboard.github.io/archive/2020/04/20-4-3.html";
            this.page.identifier = rm-identifier;
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://rustmotherboard.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>please install java to view the <a href="https://disqus.com/?ref_noscript">comments powered by disqus</a></noscript>
</div>
<!---->