<!--BE SURE TO REPLACE THE <PATH TO FILE> IN THE FOOTER-->
<title>title here</title>

<link rel="stylesheet" href="../../../main.css" type="text/css">
<!--header-->

<!---->

<div class="MainContent">
<!--main content-->
<h1>title here</h1>
<h2>time here</h2>
<p>text here</p>
<!---->

<!--footer-->
<a href="../../../blog.html"><img src="../../../images/site/website-buttons0003.png"></a>
<hr>
<div id="disqus_thread">
    <script>
        var disqus_config = function () {
            this.page.url = "https://rustmotherboard.github.io/<PATH TO FILE>";
            this.page.identifier = rm-identifier;
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://rustmotherboard.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>please install java to view the <a href="https://disqus.com/?ref_noscript">comments powered by disqus</a></noscript>
</div>
</div>
<!---->