<table width="1250px" border="4px" bordercolor="white"> <!--thingy review-y-->
    <td width="500px">
        <!--product image-->
        <center><img src="../../../images/blog/(path)" width="100%"></center>
    </td>
    <td width="750px" style="text-align: justify;">
        <p class="boxed"><big><big>thingy review-y</big></big>
        <br>
        <!--title goes here-->
        <big>[number] - [title]</big></p>
        <!--review goes here-->
        <p></p>
        <p class="footnote"><big><big><big>[rating]</big></big></big></p>
    </td>
</table>