<table width="1250px" border="4px" bordercolor="white"> <!--thingy review-y-->
    <tr>
        <th width="500px">
            <!--product image-->
            <center><img src="[image]" width="100%"></center>
        </th>
        <th width="750px" style="text-align: justify;">
            <p class="boxed"><big><big>thingy review-y</big></big>
            <br>
            <!--title goes here-->
            <big>[number] - [title]</big></p>
            <!--review goes here-->
            <p></p>
            <p class="footnote"><big><big><big><center>[rating]</center></big></big></big></p>
        </th>
    </tr>
</table>