<table width="1250px" border="4px" bordercolor="white"> <!--thingy review-y-->
    <td width="500px">
        <!--product image-->
        <center><img style="max-width: 100%;" src="../../../images/(path)" width="100%"></center>
    </td>
    <td width="750px" style="text-align: justify;">
        <p class="boxed">
        <font size="4"><b>thingy review-y</b></font>
        <br>
        <!--title goes here-->
        <font size="3">[006] - [ballisticng]</font></p>
        <!--review goes here-->
        <p></p>
        <p class="footnote"><font size="6"><b>[rating]</b></font></p>
    </td>
</table> <!---->